*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 40;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-image: url('http://i.imgur.com/aSsYebU.jpg');
}

canvas {
    border: 2px solid #fff;
}
